<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="/aptitud">Aptitudes</a>
    <a href="/actitud">Actitudes</a>
    <a href="/alumnos">Alumnos</a>
    <a href="/materias">Materias</a>
    <a href="/maestros">Maestros</a>
    <a href="/cursos">Cursos</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
<router-outlet></router-outlet>