<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="/aptitud">Aptitudes</a>
    <a href="/actitud">Actitudes</a>
    <a href="/alumnos">About</a>
    <a href="/materias">About</a>
    <a href="/maestros">About</a>
    <a href="/cursos">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
<router-outlet></router-outlet>